:root {
  --primaryColor: #041831;
  --primaryColorLow: #0c2e58;
  --secondaryColor: #ff725e;
  --secondaryColorLow: #fa6450;
  --secondaryColorTop: #d35d4d;
}

@font-face {
  font-family: 'PoppinsL';
  src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: 'PoppinsR';
  src: url("/fonts/Poppins-Regular.ttf");
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: normal;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  background: #872886;
  background: linear-gradient(90deg, #872886 0%, #442d85 55%, #250d41 100%);
  height: 100%;
}

figure {
  width: 3rem;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Poppins';
}

body {
  height: 100%;
}
