.projectPasswordGenerator {
  background-image: url("../../assets/images/myProject-1.webp");
  background-size: cover;
}

.projectInstagramClone {
  background-image: url("../../assets/images/myProject-1.webp");
  background-size: cover;
}

.projectWeather {
  background-image: url("../../assets/images/myProject-1.webp");
  background-size: cover;
}
