.footer {
  background-color: white;
  padding: 2rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .footer {
    padding: 2rem;
  }
}

.footer .footerContainer {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1024px) {
  .footer .footerContainer {
    width: 80%;
  }
}

@media (max-width: 580px) {
  .footer .footerContainer {
    flex-direction: column;
  }
}

.footer .footerContainer .copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footerContainer .copy .logo {
  width: max-content;
  margin: 0 auto;
}

.footer .footerContainer .copy .logo figure {
  width: 1.2rem;
}

.footer .footerContainer .copy span {
  display: flex;
  font-size: 0.8rem;
}

@media (max-width: 580px) {
  .footer .footerContainer .copy span {
    margin: 0 auto;
  }
}

.footer .footerContainer .redes {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 580px) {
  .footer .footerContainer .redes {
    justify-content: space-evenly;
  }
}

@media (max-width: 320px) {
  .footer .footerContainer .redes {
    flex-direction: column;
  }
}

.footer .footerContainer .redes span {
  font-size: 0.8rem;
}

.footer .footerContainer .redes ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.footer .footerContainer .redes ul li a {
  width: 2rem;
  height: 2rem;
  background-color: #455a64;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.footer .footerContainer .redes ul li a:hover {
  opacity: 1;
}

.footer .footerContainer .redes ul li span {
  font-size: 1rem;
}
